.workout-form-container {
    position: fixed;
    top: 10vh;
    left: 0;
    width: 100%;
    height: 100%;
}

.workout-form-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}

.workout-form {
    background: var(--background-workout);
    border-radius: 0.5rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 85vh;
    overflow: auto;
    z-index: 40;
    top: 1rem;
}

.exercise-subheader{
    margin-top: 2rem;
}

@media (max-width: 600px) {
    .workout-form {
        width: 90%;
        max-width: 500px;
    }
}

.add-search-container{
    position: sticky;
    top: 0;
    padding: 2rem 2rem 1rem 2rem;
    background: var(--background-workout);
    z-index: 20;
}

.workout-button {
    display: block;
    width: 100%;
    padding: 1rem;
    background: var(--orange);
    color: var(--background-workout);
    border: none;
    border-radius: 0.25rem;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background 0.2s;
}

.hidden {
    display: none;
}

.workout-button:hover {
    background: var(--darkorange);
}

.ready-to-press {
    background: var(--darkorange);
}

.search-container{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 0.5rem;
    margin: 1rem 0;
    height: 3rem;
    overflow: hidden;
}

.search-container.focused {
    border: 1px solid var(--orange);
    border-radius: 0.5rem;
}

.search-exercise {
    margin-left: 1rem; 
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input {
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--lightorange);
    font-size: 1rem;
    box-sizing: border-box;
    background-color: transparent;
}

.search-input:focus {
    outline: none;
}

.search-icon {
    color: var(--orange);
    font-size: 2rem;
}

.filter-button{
    background-color: var(--orange);
    color: var(--background-workout);
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.filter-button select {
    position: absolute;
    top: 0;
    right: 0;
    color: transparent;
    appearance: none;
    background-color: transparent;
    border: none;
    outline: none;
    height: 100%;
}

.filter-button select:hover{
    cursor: pointer;
}

.visible-stuff{
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    pointer-events: none;
}

.dropdown-arrow {
    margin-right: 0.5rem;
    font-size: 1rem;
}

.selected-group{
    padding: 0 0.5rem;
}

.list-item {
    padding: 0 1rem;
    box-sizing: border-box;
    background: white;
    border-radius: 0.5rem;
    margin: 1rem 0;
    cursor: pointer;
    transition: transform 0.2s;
}

.exercise-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.exercise-gif {
    height: 5rem;
}

.list-wrapper{
    margin: 0 2rem;
}

.list-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

.selected {
    border: 2px solid var(--orange);
}