/* .workout-form-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.workout-form-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0 0 0 / 25%);
    z-index: 11;
}

.workout-form {
    width: 500px;
    height: 750px;
    padding: 20px;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 12;
}

.select-wrapper {
    overflow-y: auto;
    max-height: 700px;
}
  
select {
    width: 100%; 
    height: auto;
}

.list-wrapper {
    width: 100%;
    overflow-y: auto;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}
  

.list-item {
    height: 47.5px;
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    border-top: 1px solid #ccc;
}

.exercise-titles{
    display: flex;
    flex-direction: column;
}

.image-container{
    height: calc(100% + 10px);
    margin-right: 20px;
}

.list-item img{
    height: 100%;
}

.item-overlay:hover {
    background-color: rgba(0,0,0, 0.1);
}

.item-overlay.selected,
.item-overlay.selected:hover {
    background-color: rgba(0, 0, 255, 0.1);
}

.item-overlay{
    position: relative;
    top: 10vh;
    left: 20px;
    right: 20px;
}

.add-exercise {
    background-color: rgba(0, 0, 255, 0.1);
    color: blue;
}

.add-exercise:hover {
    background-color: rgba(0, 0, 255, 0.2);
}


.add-or-new {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.add-or-new button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    color: #ccc;
}

.add-or-new .create-exercise{
    font-weight: 300;
}

button.ready-to-press {
    color: black;
} 

.search-exercise {
    border-radius: 0.4em;
    width: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    height: 47.5px;
    display: flex;
    margin: 20px 0px;
    background-color: white;
    border-radius: 10px;
}

.search-exercise input {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  outline: none;
  margin-left: 15px;
  font-weight: 600;
  font-size: 18px;
  color: black;
}

.search-icon {
    margin-left: 20px;
    font-size: 18px;
} */

.workout-form-container {
    position: fixed;
    top: 10vh;
    left: 0;
    width: 100%;
    height: 100%;
}

.workout-form-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.workout-form {
    background: var(--background-workout);
    /* padding: 0 2rem; */
    border-radius: 0.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 800px;
    width: 500px;
    /* max-height: 80%; */
    overflow: auto;
}

.exercise-subheader{
    margin-top: 2rem;
}

@media (max-width: 600px) {
    .workout-form {
        width: 90%;
        max-width: 500px;
    }
}

.add-search-container{
    position: sticky;
    top: 0;
    padding: 2rem;
    background: var(--background-workout);
    z-index: 20;
}

.workout-button {
    display: block;
    width: 100%;
    padding: 1rem;
    background: var(--orange);
    color: var(--background-workout);
    border: none;
    border-radius: 0.25rem;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background 0.2s;
}

.hidden {
    display: none;
}

.workout-button:hover {
    background: var(--darkorange);
}

.ready-to-press {
    background: var(--darkorange);
}

.search-container{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 0.5rem;
    margin: 1rem 0;
    height: 3rem;
    overflow: hidden;
}

.search-container.focused {
    border: 1px solid var(--orange);
    border-radius: 0.5rem;
}

.search-exercise {
    margin-left: 1rem; 
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input {
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--lightorange);
    font-size: 1rem;
    box-sizing: border-box;
    background-color: transparent;
}

.search-input:focus {
    outline: none;
}

.search-icon {
    color: var(--orange);
    font-size: 2rem;
}

.filter-button{
    background-color: #cccc;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.filter-button select {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    color: transparent;
    appearance: none;
    background-color: transparent;
  border: none;
  outline: none;
  height: 100%;
}

.filter-button select:hover{
    cursor: pointer;
}

.visible-stuff{
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    pointer-events: none;
}

.dropdown-arrow{
    margin-right: 7.5px;
    font-size: 18px;
}

.selected-group{
    padding: 0 7.5px;
}

.list-item {
    padding: 0 1rem;
    box-sizing: border-box;
    background: white;
    border-radius: 0.5rem;
    margin: 1rem 0;
    cursor: pointer;
    transition: transform 0.2s;
}

.exercise-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.exercise-gif {
    height: 5rem;
}

.list-wrapper{
    margin: 0 2rem;
}

.list-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

.selected {
    border: 2px solid var(--orange);
}