.meal-plan-generator-container {
    padding: 1rem;
    background: var(--background);
    border-radius: 0.5rem;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.2);
}

.tdee-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tdee-label {
    box-sizing: border-box;
    padding-right: 1rem;
}
