.template-list-container{
    border-radius: 0.5rem;
    background: var(--background-workout);
    padding-top: 20px;
    box-shadow: var(--RNRboxshadow);
}

.select-template-header {
    font-size: 24px;
    width: 100%;
    text-align: center;
}

.template-list {
    max-height: 80%; 
    overflow: auto;
}

.workout-button {
    display: block;
    width: 100%;
    padding: 1rem;
    background: var(--orange);
    color: var(--background-workout);
    border: none;
    border-radius: 0.25rem;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background 0.2s;
}

.template-item {
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    box-sizing: border-box;
    background: white;
    border-radius: 0.5rem;
    margin: 1rem 0;
    cursor: pointer;
    transition: transform 0.2s;
}

.template-list-wrapper{
    padding: 0 2rem;
    max-height: 700px; 
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.template-list-wrappe::-webkit-scrollbar {
    display: none;
}

.template-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

.selected {
    border: 2px solid var(--orange);
}

.start-template{
    top: 0;
    padding: 2rem;
    background: var(--background-workout);
    z-index: 1;
}