.workout-page-container{
    left: 0;
    right: 0;
    position: relative;
    top: 10vh;
    display: flex;
    justify-content: center;
}

.workout-page-inner {
    /* background-color: rgb(178, 250, 226); */
    width: 600px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 0 80px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.create-workout-h1 {
    font-size: 24px;
    /* margin-bottom: 20px; */
}

.create-workout-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* ! exercise recording */


/* ! OVERALL ELE */
.exercise-ele {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 0.4em;
    margin: 40px 0px;
    border-bottom: 1px solid #ccc;
}

.exercise-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.input-upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0px;
}

.exercise-headers, 
.exercise-inputs{
    display: flex;
    width: 100%;
    height: 30px;
}

/* reset all inputs within the list */
.exercise-ele input {
    all: unset;
}

/* ! set header and inputs */
.set-header,
.set-val {
    height: 100%;
    width: 30px;
    margin-right: 40px;
    text-align: center; 
}
.set-val div{
    height: 100%;
    background-color: rgba(0,0,0,0.1);
    border-radius: 0.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* ! kg header and inputs */
.kg-header,
.kg-input {
    height: 100%;
    width: 50px;
    margin-right: 40px;
    text-align: center; 
}
.kg-input input {
    height: 100%;
    background-color: rgba(0,0,0,0.1);
    border-radius: 0.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
}

/* ! reps header and inputs */
.reps-header,
.reps-input {
    height: 100%;
    width: 50px;
    margin-right: 40px;
    text-align: center; 
}

.reps-input input{
    height: 100%;
    background-color: rgba(0,0,0,0.1);
    border-radius: 0.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;

    /* background-color: orange; */
}

/* add a set button */

.add-a-set {
    height: 30px;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin: 20px 0px;
    background-color: rgba(0,0,0,0.1);
    border: none;
    border-radius: 0.4em;
    color: black;
    font-size: 14px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

/* ! add a set button */

.complete-set-button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    /* background-color: #cccc; */
    cursor: pointer;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.complete-set-button:hover {
    /* border: 1px solid black; */
    background-color: #cccc;
}

.done-overlay {
    background-color: rgba(0, 255, 0, 0.2);
}



/* !  MAIN BUTTONS  */

.add-exercise, 
.complete-workout,
.cancel-workout {
    /* width: 200px; */
    height: 47.5px;
    display: flex;
    align-items: center;
    margin: 20px 0px;
    background-color: white;
    border: none;
    border-radius: 10px;
    color: black;
    font-size: 14px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

.add-exercise {
    background-color: rgba(0, 0, 255, 0.1);
    color: blue;
}

.add-exercise:hover {
    background-color: rgba(0, 0, 255, 0.2);
}

.complete-workout{
    background-color: rgba(255, 0, 0,0.1);
    color: red;
}

.complete-workout:hover {
    background-color: rgba(255, 0, 0,0.2);
}

/* ! cancel workout button */
.cancel-workout{
    width: 150px;
    background-color: rgba(255, 0, 0,0.1);
    color: red;
}

.cancel-workout:hover {
    background-color: rgba(255, 0, 0,0.2);
}

/* toggle to nutrition page */

#toggle-page-type-button.nutrition-button{
    background-color: var(--blue);
}
#toggle-page-type-button.nutrition-button:hover {
    background-color: var(--darkblue);
}


/* ! present user goals */
.present-maintenance .maintenance{
    color: red;
}

.present-goals .goals{
    color: green;
}

.present-wieght-buttons{
    display: flex;
}

.restart-form {
    margin-right: 20px;
}