.workout-page-container{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.select-workout-container{
    width: 400px;
}

.workout-page-inner {
    width: 40vw;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.5rem;
    overflow-y: auto;
    background: var(--background-workout);
    box-shadow: var(--RNRboxshadow);
}

.create-workout-h1 {
    font-size: 24px;
}

.create-workout-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.workout-control{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.workout-header-spacer {
    width: 100%;
    height: 1px;
    background-color: #cccc;
    margin-top: 1rem;
}

.exercise-ele {
    list-style: none;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 0.4em;
    margin: 1rem ;
    border-bottom: 1px solid #ccc;
}

.template-exercise-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.template-exercise-ele{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: calc(50% - 30px);
    border-radius: 0.4em;
    margin-bottom: 10px;
    background-color: white;

    padding: 10px;

}

.exercise-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.input-upper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px 0px;
    padding-right: 20px;
    width: calc(100% - 60px);

    transition: all 0.5s ease-out;
}

.slide-out {
    transform: translateX(-100%);
    background-color: red;
}

.exercise-headers, 
.exercise-inputs{
    display: flex;
    width: 100%;
    height: 30px;
}

.exercise-headers{
    justify-content: space-between;
    width: calc(100% - 60px);
}

.exercise-ele input {
    all: unset;
}

.set-header,
.set-val {
    height: 100%;
    width: 30px;
    margin-right: 40px;
    text-align: center; 
}
.set-val div{
    height: 100%;
    background-color: rgba(0,0,0,0.1);
    border-radius: 0.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.kg-header, .kg-input {
    height: 100%;
    width: 60px;
    margin-right: 40px;
    text-align: center; 
}
.kg-input input {
    height: 100%;
    background-color: rgba(0,0,0,0.1);
    border-radius: 0.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
}

.reps-header,
.reps-input {
    height: 100%;
    width: 60px;
    margin-right: 40px;
    text-align: center; 
}

.reps-input input{
    height: 100%;
    background-color: rgba(0,0,0,0.1);
    border-radius: 0.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
}

.workout-details{
    display: flex;
}

.add-a-set {
    height: 30px;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin: 20px 0px;
    background-color: rgba(0,0,0,0.1);
    border: none;
    border-radius: 0.4em;
    color: black;
    font-size: 14px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.remove-button-container{
    display: flex;
    align-items: center;
}

.completed-header { 
    width: 80px;
    text-align: center;
}

.complete-set-button {
    height: 28px;
    width: 50px;
    border-radius: 0.4em;
    color: #cccc;
    cursor: pointer;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.1);
}

.complete-set-button.ready {
    color: black;
}

.complete-set-button.completed {
    color: white;
    background-color: var(--green);
}

.remove-button{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid #cccc;
    color: #cccc;
    cursor: pointer;
    margin-left: 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-button:hover {
    background-color: var(--darkorange);
    color: black;
    border: 3px solid black;
}

.done-overlay {
    background-color: rgba(0, 255, 0, 0.2);
}

.done-overlay.warmup{
    background-color: rgba(234, 183, 14, 0.4)
}

.done-overlay .set-val div,
.done-overlay .kg-input input,
.done-overlay .reps-input input {
    background-color: transparent;
}

.add-exercise-button {
    margin-bottom: 1rem;
}

.workout-page-inner .complete-workout{
    background-color: var(--green);
    color: white;
}

.start-a-template {
    color: var(--green);
    background-color: rgba(19, 169, 3, 0.1);
}

.start-a-template:hover {
    background-color: rgba(19, 169, 3, 0.25);
}

.add-exercise,
.create-a-workout {
    background-color: rgba(0, 0, 255, 0.1);
    color: blue;
}

.add-exercise:hover,
.create-a-workout:hover {
    background-color: rgba(0, 0, 255, 0.2);
}

.cancel-workout{
    position: absolute;
    top: 10vh;
    right: 15vw;
    width: 150px;
    background-color: rgba(255, 0, 0,0.1);
    color: var(--darkorange);
}

.cancel-workout:hover {
    background-color: rgba(255, 0, 0,0.2);
}

#toggle-page-type-button.nutrition-button{
    background-color: var(--blue);
}
#toggle-page-type-button.nutrition-button:hover {
    background-color: var(--darkblue);
}

.present-maintenance .maintenance{
    color: red;
}

.present-goals .goals{
    color: green;
}

.present-weight-buttons{
    display: flex;
}

.restart-form {
    margin-right: 20px;
}

.remove-exercise {
    font-size: 2rem;
    color: var(--charcoal);
    cursor: pointer;
}

.exercise-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.green-button {
    background-color: var(--green);
    color: var(--background-green);
    margin-bottom: 1rem;
}

.green-button:hover {
    background-color: var(--darkgreen);
}

.congrats-container {
    position: fixed;
    top: 10vh;
    left: 0;
    width: 100%;
    height: 100%;
}

.congrats-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}

.congrats-modal {
    background: var(--background-workout);
    border-radius: 0.5rem;
    position: absolute;
    width: 30vw;
    left: 50%;
    padding: 1rem;
    transform: translate(-50%);
    height: 25vh;
    overflow: auto;
    z-index: 40;
    top: 20vh;
    box-shadow: var(--RNRboxshadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.save-template-description{
    text-align: center;
}

.congrats-emoji{
    font-size: 32px;
}

.cograts-header{
    font-size: 24px;
}

.save-button,
.dont-save-button {
    display: block;
    width: 100%;
    padding: 1rem;
    background: var(--orange);
    color: var(--background-workout);
    border: none;
    border-radius: 0.25rem;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background 0.2s;
}

.workout-page-lower, .workout-page-upper {
    width: 100%;
}

.workout-page-wrapper {
    height: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.save-button {
    color: white;
    font-weight: 500;
}

.dont-save-button{
    background-color: #cccc;
    color: black;
    font-weight: 600;
}

/* !Completed Workout */

.demonstrate-completed{
    position: fixed;
    width: 100vw;
    height: 100vh;
    border-radius: 0.4rem;
    border: #cccc;
    background-color: white;
    box-shadow: var(--RNRboxshadow);
    display: flex;
    align-items: center;
}
