.food-search-container {
    max-width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    background: var(--background);
    border-radius: 0.5rem;
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
}

.food-search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.food-search-dropdown-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.food-search-dropdown-label {
    box-sizing: border-box;
    width: 60%;
}

.food-search-input {
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--lightblue);
    border-radius: 0.25rem;
    font-size: 1rem;
    margin: 1rem 0;
    box-sizing: border-box;
}

.food-search-input:focus {
    outline: none;
    border: 1px solid var(--blue);
}

.button:hover {
    background: var(--darkblue);
}