.switch-container {
    border: 1px solid var(--navy);
    background-color: var(--blue);
    border-radius: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider (background) */
  .switch .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }
  
  /* The circle that slides */
  .switch .slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  /* When checked, change the slider background */
  .switch input:checked + .slider {
    background-color: #2196F3;
  }
  
  /* When checked, move the circle */
  .switch input:checked + .slider::before {
    transform: translateX(26px);
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5vh;
    background-color: var(--lightblue);
    color: var(--navy);
    padding: 5px 10px 0px 10px;
    border-top: 1px solid var(--navy);
  }