.chart-container {
    width: 75%;
    display: flex;
    gap: 20px;
}

.daily-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.nutrition-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    border: 1px solid var(--lightblue);
    border-radius: 10px;
    background-color: var(--darkblue);
}