.navBar {
    background-color: var(--blue);
    color: var(--background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0;
    width: 100vw;
    box-sizing: border-box;
}

.nav-link {
    font-weight: bold;
    font-size: 2rem;
    font-style: italic;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 40%);
    color: var(--background);
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    width: calc(100% / 3)
}

.nav-link.active {
    color: var(--background);
}

.links-nav a {
    color: var(--background);
    text-decoration: none;
    font-size: 1.25rem;
    transition: color 0.2s;
    padding: 0;
}

.links-nav a:hover {
    color: var(--lightblue);
}

.links-nav-button {
    appearance: none;
    background: none;
    border: none;
    color: var(--background);
    font-size: 1.25rem;
    cursor: pointer;
    transition: color 0.2s;
    padding: 0;
}

.links-nav button:hover {
    color: var(--lightblue);
}

.links-nav {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

.links-auth {
    width: 35%;
    display: flex;
    justify-content: space-evenly;
}

.links-nav-container, .links-auth-container {
    width: calc(100% / 3);
    display: flex;
    justify-content: flex-end;
}

.links-auth a {
    color: var(--background);
    text-decoration: none;
    margin-right: 1rem;
    font-size: 1.25rem;
    transition: color 0.2s;
}

.links-auth a:hover {
    color: var(--lightblue);
}

.logo {
    width: 50px;
    height: 50px;
}

.logo-container { 
    width: calc(100% / 3);
    display: flex;
    justify-content: flex-start;
    padding-left: 1rem;
    box-sizing: border-box;
}

.logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
}