:root {
    --background: #EEF2F7;
    --lightblue: #699DD8;
    --blue: #2D69AF;
    --darkblue: #154984;
    --navy: #0D2035;
    --charcoal: #33302E;
    --background-workout: #f5e2dc;
    --light-orange: #f9c7b8;
    --orange: #fe6a15;
    --darkorange: #e93b00;
    --darkorangehover: rgba(233, 59, 0, 0.2);
    --orangehover: rgba(254,106,21,0.2);
    --green: rgba(23, 203, 3, 0.681);
    --background-green: rgb(229, 255, 226);
    --darkgreen: rgb(16, 114, 5);
    --RNRboxshadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
}

.footer {
    background-color: var(--blue);
    color: var(--background);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    box-sizing: border-box;
    height: 7.5vh;
    bottom: 0;
    margin-top: 1rem;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}